/* manrope-regular - latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/manrope-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/manrope-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/manrope-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/manrope-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/manrope-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/manrope-v4-latin-regular.svg#Manrope') format('svg'); /* Legacy iOS */
}
html {
  box-sizing: border-box;
}
*,*::before, *::after{
  box-sizing: inherit;
}
body {
  background-color: #D4EAE2;
  font-family: 'Manrope';
  font-style: normal;

}
.wrapper {
  max-width: 1152px;
  margin: 0 auto;
  z-index: 1;
}
.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 45px 70px;

}
.header__list {
display:flex;
flex-wrap: wrap;
}
.header__logo-link img{
  height: 45px;
  width: 45px;
}
.header__item {
display:flex;
flex-wrap: wrap;
margin-right: 80px;
}
.header__link {
  text-decoration: none;
  color: black;
}
.header__link:hover {
  text-decoration: underline;
}
.header__item:last-child {
  margin-right: 0;
}
.header__button {
  background-color: #00623B;
  color: white;
  border-radius: 5px;
  width: 93px;
  height: 35px;
  border: none;
  cursor: pointer;
}
.header__button:hover {
  background-color: #00b16a;
  color: white;
}
.title {
  display:flex;
  flex-direction: column;
  position: relative;
  font-size: 90px;
  font-weight: bold;
  margin-top: 49px;
  z-index: 1;
}

.title__coffee {
  display: block;
  position: relative;
  color:#00623B;
  margin: 0 auto;
  text-shadow: 3px 4px 5px rgb(151, 150, 150);
}
.title__moods {
  display: block;
  position: relative;
  color: white;
  margin: -38px auto;
  text-shadow: 3px 4px 5px rgb(151, 150, 150); 
}
.img {
  display: flex;
  justify-content:center;
  position: relative;
  margin:0 0 0 5px;

}
.img__cups {
  position: relative;
  z-index: 1;
}
.img__c2 {
  display: flex;
  align-items:flex-end;
  position: relative;
  margin-right: -40px;
  z-index: 1;
}
.img__c1 {
  display: flex;
  align-items:center;
  position: relative;
  margin-left: -70px;
  z-index: 1;
}
.box-shadow-right {
  position: fixed;
  width: 350px;
  height: 350px;
  right: 0;
  bottom: 25%;
  border-radius: 50%;
  background: #219c6b;
  filter: blur( 200px);
  
}
.box-shadow-left {
  position: fixed;
  width: 350px;
  height: 350px;
  left: 7%;
  bottom: -15%;
  background: #219c6b;
  filter: blur(200px);
}
.background {
  position: fixed;
  bottom: -5px;
  width: 100%;
  left: 0;
}
/*.box-shadow {
  position: fixed;
  width: 100%;
  max-width: 1152px;
} */

